<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Добавление нового чека</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="header">...</div>

<div class="w-full max-w-xs">
    <form th:action="${'/cheque/add/'+cheque.paidTreatment.id+'?redirect='+redirect}" method="post" th:object="${cheque}"
          class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">

        <input th:field="*{paidTreatment}" type="hidden">

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Сумма</label>
            <div style="color: red" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}"></div>
            <input th:field="*{amount}" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   type="number" name="price" placeholder="Сумма">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2">Дата</label>
            <div style="color: red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></div>
            <input th:field="*{date}"
                   class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                   type="date" name="release_date" placeholder="Выберите дату">
        </div>

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">Добавить чек
        </button>
    </form>
</div>
</body>
</html>