<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:value="${book.title}"></title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>

<div th:insert="header">...</div>


<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2" th:text="${book.title}"/>
        <p class="text-gray-700 text-base" th:text="${book.author.id}"></p>
        <p class="text-gray-700 text-base" th:text="${book.author.name}"></p>
        <p class="text-gray-700 text-base" th:text="${release_date}"></p>
        <p class="text-gray-700 text-base" th:text="${book.for_sale}"></p>
        <p class="text-gray-700 text-base" th:text="${book.price}"></p>
    </div>
</div>
</body>
</html>