<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="ru">
<head>
    <title>Заявки на работу</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="header">...</div>

<h1>Все заявки на работу</h1>
<form method="get" action="/jobApplication">
    <label>
        Показывать проверенные
        <input type="checkbox" th:checked="${no_active}" name="f"/>
    </label>
    <button type="submit"
            class="inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out"
    >Фильтрация
    </button>
</form>
<a class="underline text-blue-600" href="/jobApplication/add" sec:authorize="hasAnyAuthority('CLIENT')">Добавить заявку
    на
    работу</a>
<div th:each="jobApplication : ${jobApplications}">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2"
                 th:text="${jobApplication.candidate.surname}+' '+${jobApplication.candidate.name}+' '+${jobApplication.candidate.patronymic}"/>
            <div class="font-bold text-xl mb-2" th:text="${jobApplication.date}"/>
            <div class="font-bold text-xl mb-2" style="color: red;" th:if="${jobApplication.mark==0}"
                 th:text="'Не проверенно'"/>
            <div class="font-bold text-xl mb-2" style="color: blue;" th:if="${jobApplication.mark!=0}"
                 th:text="'Проверенно оценка: '+${jobApplication.mark}"/>
        </div>
        <div class="px-6 pt-4 pb-2">
            <a class="underline text-blue-600" th:href="'/jobApplication/edit/'+${jobApplication.id}"
               sec:authorize="hasAnyAuthority('HR')">Изменить результат</a>
            <a class="underline text-blue-600" th:href="'/jobApplication/show/'+${jobApplication.id}">Посмореть</a>
        </div>
    </div>
</div>
</body>
</html>