<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="ru">
<head>
    <title>Заявки</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="header">...</div>

<h1>Все заявки</h1>
<a class="underline text-blue-600" href="/application/add">Добавить заявку</a>
<div th:each="appli : ${applications}">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2" th:text="${appli.application_date}"/>
            <div class="font-bold text-xl mb-2" th:text="${appli.client.login}"/>
        </div>
        <div class="px-6 pt-4 pb-2">
            <a class="underline text-blue-600" th:href="'/application/edit/'+${appli.id}">Редактировать</a>
            <a class="underline text-blue-600" th:href="'/application/show/'+${appli.id}">Посмореть</a>
            <a class="underline text-blue-600" th:href="'/application/del/'+${appli.id}">Удалить</a>
        </div>
    </div>
</div>
</body>
</html>