<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${appli.client.login}"></title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="header">...</div>

<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2" th:text="'Клиент: '+${appli.client.login}"/>
        <div class="font-bold text-xl mb-2" th:text="'Лечащий врач: '+${appli.formalizing_doctor.login}"/>
        <div class="font-bold text-xl mb-2" th:text="'Дата процедуры: '+${appli.date_of_treatment}"/>
        <div class="font-bold text-xl mb-2" th:text="'Текст обращения: '+${appli.text}"/>
        <div class="font-bold text-xl mb-2" th:text="'Дата обращения: '+${appli.application_date}"/>
        <div class="font-bold text-xl mb-2" th:text="'Регестрирующий врач: '+${appli.attending_doctor.login}"/>
    </div>
</div>
</body>
</html>