<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="ru">
<head>
    <title>Платные услуги</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="header">...</div>

<h1>Все Платные услуги</h1>
<a class="underline text-blue-600" href="/paidTreatment/add"  sec:authorize="hasAnyAuthority('ADMIN', 'DOCTOR')">Добавить платную услугу</a>
<div th:each="paidTreatment : ${paidTreatments}">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2" th:text="${paidTreatment.typeTreatment.name+' | '+paidTreatment.application.client.name+' | '+paidTreatment.application.application_date}"/>
        </div>
        <div class="px-6 pt-4 pb-2">
            <a class="underline text-blue-600"  th:href="'/paidTreatmentPreparation/add/'+${paidTreatment.id}" sec:authorize="hasAnyAuthority('ADMIN', 'DOCTOR')">Добавить мед.препарат</a>
            <a class="underline text-blue-600"  th:href="'/paidTreatment/edit/'+${paidTreatment.id}" sec:authorize="hasAnyAuthority('ADMIN', 'DOCTOR')">Редактировать</a>
            <a class="underline text-blue-600"  th:href="'/paidTreatment/show/'+${paidTreatment.id}">Посмореть</a>
            <a class="underline text-blue-600"  th:href="'/paidTreatment/del/'+${paidTreatment.id}" sec:authorize="hasAnyAuthority('ADMIN', 'DOCTOR')">Удалить</a>
        </div>
    </div>
</div>
</body>
</html>