<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Жанры</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="header">...</div>

<h1>Все Жанры</h1>
<a class="underline text-blue-600" href="/genre/add">Добавить жанр</a>
<div th:each="genre : ${genres}">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2" th:text="${genre.name}"/>
        </div>
        <div class="px-6 pt-4 pb-2">
            <a class="underline text-blue-600"  th:href="'/genre/edit/'+${genre.id}">Редактировать</a>
            <a class="underline text-blue-600"  th:href="'/genre/show/'+${genre.id}">Посмореть</a>
            <a class="underline text-blue-600"  th:href="'/genre/del/'+${genre.id}">Удалить</a>
        </div>
    </div>
</div>
</body>
</html>