<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form>
    <div style="">
        <label for="firstval">First value:</label>
        <input type="number" id="firstval" name="firstval">


        <input type="radio" id="+" name="math_operation" value="+">
        <label for="+">+</label>
        <input type="radio" id="-" name="math_operation" value="-">
        <label for="-">-</label>
        <input type="radio" id="*" name="math_operation" value="*">
        <label for="*">*</label>
        <input type="radio" id="/" name="math_operation" value="/">
        <label for="/">/</label>


        <label for="secval"> | Second value:</label>
        <input type="number" id="secval" name="secval">
    </div>
    <input type="submit" id="submitGET" value="GET" formaction="/calculate" formmethod="get">
    <input type="submit" id="submitPOST" value="POST" formaction="/calculate" formmethod="post">
</form>
</body>
</html>