<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="ru">
<head>
    <title>Списания</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="header">...</div>

<h1>Все Списания мед.препаратов</h1>
<a class="underline text-blue-600" href="/cancellation/add" sec:authorize="isAuthenticated()">Добавить списание</a>
<div th:each="cancellation : ${cancellations}">
    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2" th:text="${cancellation.medicalPreparations.name}"/>
            <div class="font-bold text-xl mb-2" th:text="${cancellation.date}"/>
        </div>
        <div class="px-6 pt-4 pb-2">
            <a class="underline text-blue-600" th:href="'/cancellation/edit/'+${cancellation.id}"
               sec:authorize="isAuthenticated()">Редактировать</a>
            <a class="underline text-blue-600" th:href="'/cancellation/show/'+${cancellation.id}">Посмореть</a>
            <a class="underline text-blue-600" th:href="'/cancellation/del/'+${cancellation.id}"
               sec:authorize="isAuthenticated()">Удалить</a>
        </div>
    </div>
</div>
</body>
</html>