<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:value="${entrance.date}"></title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div th:insert="header">...</div>

<div class="max-w-sm rounded overflow-hidden shadow-lg">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2" th:text="${entrance.medicalPreparations.name}"/>
        <div class="font-bold text-xl mb-2" th:text="${entrance.date_of_receipt}"/>
        <div class="font-bold text-xl mb-2" th:text="${entrance.expiration_date}"/>
    </div>
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2" th:text="${entrance.count}"/>
    </div>
</div>
</body>
</html>